#login-form {
  background-color: rgba(0, 0, 0, 0.7);  
}

#login-form .modal-dialog {
  margin: 130px auto;
  width: 400px;
}

#login-content {
  border-radius: 0;
}

#login-content .modal-title {  
  font-size: 20px;
}

#login-content .modal-title i{
  margin-right: 5px;
}

#login-content .form-group input{
  height: 35px;
  border-radius: 0;
}

#login-content .form-control:focus { 
  box-shadow: none;  
}

.loginbox label {
  float: left;
  width: 100%;
}

.loginbox label input{
  float: left;
  margin-right: 5px;
}

.loginbox label span {
  font-weight: normal;
}

.loginbox .signin-btn { 
  border-radius: 0;
  margin-top: 10px;
  color: #fff;
}

.footer-box {
  text-align: left;
  font-size: 15px;
}

.footer-box a:hover,
.footer-box a:focus{  
  text-decoration: none;
  outline: none;
}

#signup-content {
  display: none;
}

#signup-content {
  border-radius: 0;
}

#signup-content .modal-title {  
  font-size: 20px;
}

#signup-content .modal-title i{
  margin-right: 5px;
}

#signup-content .form-group input{
  height: 35px;
  border-radius: 0;
}

#signup-content .form-control:focus {  
  box-shadow: none;  
}

.signupbox span {
  display: inline-block;
  font-size: 15px;
  margin-bottom: 10px;
}

.signupbox span a:hover{
  text-decoration: none;
  outline: none;
}
