
@{
    ViewBag.Title = "Hakkimda";
}

<div class="row" style="text-align:center; ">
    <h2>@Resources.HomeLan.About</h2>
    <hr />
</div>

<div>
    <p>
     @Resources.HomeLan.Yazi
    </p>
</div>
<br /><br />
