
@{
    ViewBag.Title = "Reklam";
}

<div class="row" style="text-align:center; ">
    <h2>@Resources.HomeLan.Reklam</h2>
    <hr />
</div>

<div>
    <p>
        @Resources.HomeLan.Reklam1
    </p>
    <form>
        <fieldset>
            <legend>@Resources.HomeLan.ReklamBaslik</legend>
           @Resources.HomeLan.Reklam2
        </fieldset>
    </form>
    <br /><br />
</div>

