

@*<div class="header-resim">
    <div class="header-resim-content">
        <div class="header-resim-content-inner">
            <h1 id="homeHeading">Hoşgeldiniz</h1>
            <hr>
            <p>Her sektör için aradığınız kıdemli uzmanlar burada.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Devamını oku</a>
        </div>
    </div>
</div>*@

